#everything {
  background-color: #45ac6e;
}
#logo {
  width: 200px;
  margin: 0 auto;
  display: block;
}

#play {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  display: block;
}
#pause {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  display: block;
}
#heading {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 10px;

  background-color: #cbd0d3;
  text-align: center;
}
#content {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;

  background-color: white;
  font-size: 24px;
}
#stepOne {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;

  background-color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
#stepOneimg {
  width: 100%;
  height: 400px;
}
#stepTwo {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;

  background-color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
#stepTwoimg {
  width: 100%;
  height: 400px;
}

#stepThree {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;

  background-color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
#stepThreeimg {
  width: 100%;
  height: 400px;
}
#stepFour {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;

  background-color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
#stepFourimg {
  width: 100%;
  height: 400px;
}
#stepFive {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;

  background-color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
#stepFiveimg {
  width: 100%;
  height: 400px;
}
#stepSix {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;

  background-color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
#stepSiximg {
  width: 100%;
  height: 400px;
}
#stepSeven {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;

  background-color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
#stepSevenimg {
  width: 100%;
  height: 400px;
}
#One {
  height: 50px;
  width: 60px;
}
#Two {
  height: 50px;
  width: 60px;
}
#Three {
  height: 50px;
  width: 60px;
}
#Four {
  height: 50px;
  width: 60px;
}
#Five {
  height: 50px;
  width: 60px;
}
#Six {
  height: 50px;
  width: 60px;
}
#Seven {
  height: 50px;
  width: 60px;
}
#Done {
  height: 50px;
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;

  background-color: white;
  font-size: 24px;
}
#Done:hover {
  background-color: #2efe2e;
}
#Modal {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 20, 0.8);
  display: none;
}
#modalContent {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  background: white;
}
#Congrats {
  display: block;
  border: solid black 1px;
  margin: 0 auto;
  width: 100%;
}
#title1 {
  display: inline;
}
#title2 {
  display: inline;
}
#title3 {
  display: inline;
}
#title4 {
  display: inline;
}
#title5 {
  display: inline;
}
#title6 {
  display: inline;
}
#title {
  display: inline;
}
#title7 {
  display: inline;
}
