#everything{
  background-color: grey;
}
  #heading{
  display:block;
border:solid black 1px;
margin:0 auto;
width:100%;
padding-bottom:10px;

background-color: #2EFE2E;
text-align: center;;

}
#content{
  display:block;
border:solid black 1px;
margin:0 auto;
width:60%;
padding-bottom:10px;

background-color: white;
font-size:24px;
}
#stepOne{
  display:block;
border:solid black 1px;
margin:0 auto;
width:60%;
padding-bottom:10px;

background-color: white;
font-size:24px;


}
#stepOneimg{
  width:100%;
  height:400px;
}
#stepTwo{
  display:block;
border:solid black 1px;
margin:0 auto;
width:60%;
padding-bottom:10px;

background-color: white;
font-size:24px;


}
#stepTwoimg{
  width:100%;
  height:400px;
}

#stepThree{
  display:block;
border:solid black 1px;
margin:0 auto;
width:60%;
padding-bottom:10px;

background-color: white;
font-size:24px;


}
#stepThreeimg{
  width:100%;
  height:400px;
}
#stepFour{
  display:block;
border:solid black 1px;
margin:0 auto;
width:60%;
padding-bottom:10px;

background-color: white;
font-size:24px;


}
#stepFourimg{
  width:100%;
  height:400px;
}
#stepFive{
  display:block;
border:solid black 1px;
margin:0 auto;
width:60%;
padding-bottom:10px;

background-color: white;
font-size:24px;


}
#stepFiveimg{
  width:100%;
  height:400px;
}
#stepSix{
  display:block;
border:solid black 1px;
margin:0 auto;
width:60%;
padding-bottom:10px;

background-color: white;
font-size:24px;


}
#stepSiximg{
  width:100%;
  height:400px;
}
#stepSeven{
  display:block;
border:solid black 1px;
margin:0 auto;
width:60%;
padding-bottom:10px;

background-color: white;
font-size:24px;


}
#stepSevenimg{
  width:100%;
  height:400px;
}
#One{
  height:50px;
  width:60px;
}
#Two{
  height:50px;
  width:60px;
}
#Three{
  height:50px;
  width:60px;
}
#Four{
  height:50px;
  width:60px;
}
#Five{
  height:50px;
  width:60px;
}
#Six{
  height:50px;
  width:60px;

}
#Seven{
  height:50px;
  width:60px;

}
#Done{
  width:100%;
  height:50px;
}
#Done:hover{
  background-color: #2EFE2E;
}
#Modal{
  position: fixed;
  height: 100%;
  width:100%;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  background-color: rgba(0,0,20,0.8);
display:none;


}
#modalContent{
  display:block;
border:solid black 1px;
margin:0 auto;
width:60%;
background:white;


}
#Congrats{
  display:block;
border:solid black 1px;
margin:0 auto;
width:100%;

}
